##@formatter:off
import at.gridtec.lambda4j.comparator.*;
import at.gridtec.lambda4j.consumer.*;
import at.gridtec.lambda4j.consumer.primitives.*;
import at.gridtec.lambda4j.consumer.primitives.bi.*;
import at.gridtec.lambda4j.consumer.primitives.tri.*;
import at.gridtec.lambda4j.consumer.primitives.obj.*;
import at.gridtec.lambda4j.function.*;
import at.gridtec.lambda4j.function.primitives.*;
import at.gridtec.lambda4j.function.primitives.bi.*;
import at.gridtec.lambda4j.function.primitives.tri.*;
import at.gridtec.lambda4j.function.primitives.to.*;
import at.gridtec.lambda4j.function.primitives.to.bi.*;
import at.gridtec.lambda4j.function.primitives.to.tri.*;
import at.gridtec.lambda4j.function.primitives.obj.*;
import at.gridtec.lambda4j.function.primitives.conversion.*;
import at.gridtec.lambda4j.function.primitives.conversion.bi.*;
import at.gridtec.lambda4j.function.primitives.conversion.tri.*;
import at.gridtec.lambda4j.operators.*;
import at.gridtec.lambda4j.operators.unary.*;
import at.gridtec.lambda4j.operators.binary.*;
import at.gridtec.lambda4j.operators.ternary.*;
import at.gridtec.lambda4j.predicates.*;
import at.gridtec.lambda4j.predicates.primitives.*;
import at.gridtec.lambda4j.predicates.primitives.bi.*;
import at.gridtec.lambda4j.predicates.primitives.tri.*;
import at.gridtec.lambda4j.predicates.primitives.obj.*;
import at.gridtec.lambda4j.predicates.*;
import at.gridtec.lambda4j.runnable.*;
import at.gridtec.lambda4j.supplier.*;
import org.apache.commons.lang3.tuple.*;
import javax.annotation.*;
import java.util.function.*;
##@formatter:on
